*{
    margin:0;
    padding:0;
}
:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
}
.dark-theme{

        --primary-color:#080808;
        --secondary-color:white;
    }

.hero{
    height:100vh;
    width: 100%;
    background:var(--primary-color);
    font-family: sans-serif;
    position: relative;
}
nav{
    width: 82%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#icon{
    width: 30px;
    cursor: pointer;
}
.logo{
    width: 160px;
    cursor: pointer;
   height: 60px;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    font-size: 20px;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: rgb(230, 96, 96);
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
     font-size: 70px;
     color: var(--secondary-color);
     margin-bottom: 20px;
}
span{
    color: rgb(230, 96, 96);
}
.info p{
    color: var(--secondary-color);
    line-height: 22px;
    margin-bottom: 20px;

}
.info a{
    background:var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 18px ;
    border-radius: 5px;

}
.info a:hover{
    color: rgb(230, 96, 96);
}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s;
    transition: bottom 1s, left 1s;
}
.img-box:hover .back-img{ 
    bottom: 40px;
}
.img-box:hover .main-img{ 
    left: 55%;
}
.social-link{
    margin-left: 8%;
    margin-top: 100px;
}
.social-link a{
    font-size: 25px;
    color: var(--secondary-color);
    margin-right: 20px;
}
.social-link a:hover{
    color: rgb(230, 96, 96);
}

 